.header {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    box-sizing: border-box;
}