.header__buttons {
    width: 176px;
    height: 46px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}