.card__icon {
    width: 64px;
    height: 64px;
}

.card__icon_type_click {
    width: 70px;
    height: 66px;
}

.card__icon_type_arrow-blue {
    width: 58px;
    height: 56px;
}

.card__icon_type_ringing-phone {
    width: 70px;
    height: 70px;
}

.card__icon_type_oil-barrel {
    width: 72px;
    height: 70px;
    margin-bottom: 26px;
}

@media screen and (min-width:960px) and (max-width:1120px) {
    .card__icon {
        width: 54px;
        height: 54px;
    }

    .card__icon_type_click {
        width: 60px;
        height: 56px;
    }
    
    .card__icon_type_arrow-blue {
        width: 48px;
        height: 46px;
    }
    
    .card__icon_type_ringing-phone {
        width: 60px;
        height: 60px;
    }
    
    .card__icon_type_oil-barrel {
        width: 62px;
        height: 60px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width:640px) and (max-width:959px) {
    .card__icon_type_oil-barrel {
        margin-bottom: 13px;
    }
  }
  
  @media screen and (min-width:320px) and (max-width:639px) {
    .card__icon_type_oil-barrel {
        margin-bottom: 13px;
    }
  }
