.card__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 23px;
}

@media screen and (min-width:960px) and (max-width:1120px) {
    .card__title  {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
}