.button {
    border: none;
    background-color: #098FCF;
    text-align: center;    
    margin: 0;
    padding: 0;
    color: white;
    height: 46px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    transition: opacity .4s ease-out;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}