.button {
    border: none;
    background-color: #098FCF;
    text-align: center;   
    padding: 0;
    color: white;
    height: 46px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    transition: opacity .4s ease-out;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}

@media screen and (min-width:640px) and (max-width:959px) {
    .button {
        font-size: 13px;
        line-height: 15px;
        height: 40px;
    }
  }
  
  @media screen and (min-width:320px) and (max-width:639px) {
    .button {
        font-size: 13px;
        line-height: 15px;
        height: 40px;
    }
  }
